
@import "tailwindcss";
@layer base{
    body{
      @apply bg-white m-0 p-0
    }
}
body{
  font-family: 'poppins',sans-serif;
  background-color:#ffffff;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}